.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button{
    height: 50px;
    width: 50px;
    margin: 15px;
    border-radius:50% ;
    background-color: rgb(39, 35, 35);
    font-size: 1.4rem;
    color: #fff;
}